<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Camera -->
  <xacro:macro name="cam" params="name parent xyz rpy">

    <joint name="${parent}_${name}_joint" type="fixed">
      <axis xyz="0 0 1"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <inertial>
        <mass value="1e-5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
      </inertial>
      <visual name='visual'>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
        <material name="Green">
          <color rgba="0 1.0 0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="${name}">
      <static>true</static>
      <sensor type="camera" name="${name}">
        <always_on>0</always_on>
        <update_rate>10</update_rate>
        <visualize>1</visualize>
        <camera name="${name}">
          <horizontal_fov>1.349481884</horizontal_fov>
          <!--<vertical_fov>1.138626382</vertical_fov>-->
          <image>
            <width>2560</width>
            <height>2048</height>
            <format>L8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>6000</far>
          </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <robotNamespace>${name}</robotNamespace>
          <alwaysOn>0</alwaysOn>
          <updateRate>0.0</updateRate>
          <!--<cameraName>${name}</cameraName>-->
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>base_link</frameName>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>